## TP3 Python para Dados - André L. M. Ferreira

In [ ]:
# 1.1 Carregue o dataset Superstore em um DataFrame Pandas.
import pandas as pd

df = pd.read_csv("Sample - Superstore.csv", encoding='ISO-8859-1')
# encoding='ISO-8859-1' é a mesma coisa que encoding='latin1'. Precisei fazer isso para conseguir ler o arquivo corretamente, após tentar com utf-8 e utf-16 e também sem encoding nenhum. Encontrei essa solução no stackoverflow: https://stackoverflow.com/questions/18171739/unicodedecodeerror-when-reading-csv-file-in-pandas-with-python

# 1.2 Exiba as 5 primeiras linhas do DataFrame.
print(df.head())

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

In [94]:
# 1.3 Verifique os tipos das colunas do DataFrame.
print(df.dtypes)

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [95]:
# 1.5 Conte o número de linhas e colunas do DataFrame.
print(df.shape)

(9994, 21)

In [96]:
# 1.6 Verifique se há valores nulos e quantos são.

print(df.isnull().sum())

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [ ]:
pip install openpyxl

# Antes de executar o exercício 2, foi necessário seguir os passos acima:
# Pois estava dando um erro "No module named 'openpyxl'", encontrei a solução no stackoverflow: https://stackoverflow.com/questions/63180563/how-to-fix-no-module-named-openpyxl

SyntaxError: invalid syntax (517360038.py, line 1)

In [ ]:
# 2.1 Salve o dataset em um arquivo Excel e carregue-o novamente.

df.to_excel("Sample - Superstore.xlsx", index=False, engine='openpyxl')
df2 = pd.read_excel("Sample - Superstore.xlsx", engine='openpyxl')

print(df2.head())  # Confirmando se os dados foram carregados corretamente

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

In [ ]:
# 2.2 Combine dois arquivos Excel contendo pedidos de anos diferentes usando pd.concat().

# Primeiro passo é criar dois DataFrames com os dados de 2016 e 2017.
df_2016 = df[df["Order Date"].dt.year == 2016]
df_2017 = df[df["Order Date"].dt.year == 2017]

# Agora, vamos salvar esses DataFrames em abas dentro de um arquivo Excel.
# Novamente precisei usar o engine='openpyxl' para conseguir salvar o arquivo.
with pd.ExcelWriter("Orders_Divididas.xlsx", engine="openpyxl") as writer:
    df_2016.to_excel(writer, sheet_name="2016", index=False)
    df_2017.to_excel(writer, sheet_name="2017", index=False)

# Agora, vamos carregar esses arquivos e combiná-los em um único DataFrame.
df_2016 = pd.read_excel("Orders_Divididas.xlsx", sheet_name="2016", engine="openpyxl")
df_2017 = pd.read_excel("Orders_Divididas.xlsx", sheet_name="2017", engine="openpyxl")

# E finalmente, vamos combinar os dois DataFrames em um único DataFrame.
df_combinado = pd.concat([df_2016, df_2017], ignore_index=True)

# Como teste, vou salvar o DataFrame combinado em um arquivo Excel.
df_combinado.to_excel("Orders_Combinadas.xlsx", index=False)

print(df_combinado.head())  # Exibindo as primeiras linhas do DataFrame combinado

   Row ID        Order ID Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156 2016-11-08  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156 2016-11-08  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688 2016-06-12   6/16/2016    Second Class    DV-13045
3      14  CA-2016-161389 2016-12-05  12/10/2016  Standard Class    IM-15070
4      22  CA-2016-137330 2016-12-09  12/13/2016  Standard Class    KB-16585

     Customer Name    Segment        Country         City  ... Postal Code  \
0      Claire Gute   Consumer  United States    Henderson  ...       42420
1      Claire Gute   Consumer  United States    Henderson  ...       42420
2  Darrin Van Huff  Corporate  United States  Los Angeles  ...       90036
3     Irene Maddox   Consumer  United States      Seattle  ...       98103
4        Ken Black  Corporate  United States      Fremont  ...       68025

    Region       Product ID         Category Sub-Category  \
0    South  FUR-BO-10001798        Furniture    Bookcases
1    South  FUR-CH-10000454        Furniture       Chairs
2     West  OFF-LA-10000240  Office Supplies       Labels
3     West  OFF-BI-10003656  Office Supplies      Binders
4  Central  OFF-AR-10000246  Office Supplies          Art

                                        Product Name    Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.960         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.940         3
2  Self-Adhesive Address Labels for Typewriters b...   14.620         2
3        Fellowes PB200 Plastic Comb Binding Machine  407.976         3
4                                         Newell 318   19.460         7

   Discount    Profit
0       0.0   41.9136
1       0.0  219.5820
2       0.0    6.8714
3       0.2  132.5922
4       0.0    5.0596

[5 rows x 21 columns]

In [101]:
# 3.1 Crie um banco de dados SQLite e uma tabela pedidos.

import sqlite3
conn = sqlite3.connect("superstore.db")

# 3.2 Insira os dados do DataFrame na tabela SQL. Casi a tabela já exista, substitua-a.

df.to_sql("orders", conn, if_exists="replace", index=False)

# 3.3 Carregue os dados do banco SQL para um DataFrame Pandas.

df_sql = pd.read_sql("SELECT * FROM orders", conn)

print(df_sql.head())

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

In [ ]:
# 4. Consultas SQL básicas
# 4.1 Selecione todos os pedidos com lucro maior de R$ 100,00.

df_lucro_maior_100 = pd.read_sql("SELECT * FROM orders WHERE Profit > 100", conn)

print(df_lucro_maior_100.head())

   Row ID        Order ID           Order Date   Ship Date       Ship Mode  \
0       2  CA-2016-152156  2016-11-08 00:00:00  11/11/2016    Second Class
1      14  CA-2016-161389  2016-12-05 00:00:00  12/10/2016  Standard Class
2      25  CA-2015-106320  2015-09-25 00:00:00   9/30/2015  Standard Class
3      36  CA-2016-117590  2016-12-08 00:00:00  12/10/2016     First Class
4      55  CA-2016-105816  2016-12-11 00:00:00  12/17/2016  Standard Class

  Customer ID   Customer Name    Segment        Country           City  ...  \
0    CG-12520     Claire Gute   Consumer  United States      Henderson  ...
1    IM-15070    Irene Maddox   Consumer  United States        Seattle  ...
2    EB-13870     Emily Burns   Consumer  United States           Orem  ...
3    GH-14485       Gene Hale  Corporate  United States     Richardson  ...
4    JM-15265  Janet Molinari  Corporate  United States  New York City  ...

  Postal Code   Region       Product ID         Category Sub-Category  \
0       42420    South  FUR-CH-10000454        Furniture       Chairs
1       98103     West  OFF-BI-10003656  Office Supplies      Binders
2       84057     West  FUR-TA-10000577        Furniture       Tables
3       75080  Central  TEC-PH-10004977       Technology       Phones
4       10024     East  TEC-PH-10002447       Technology       Phones

                                        Product Name     Sales  Quantity  \
0  Hon Deluxe Fabric Upholstered Stacking Chairs,...   731.940         3
1        Fellowes PB200 Plastic Comb Binding Machine   407.976         3
2      Bretford CR4500 Series Slim Rectangular Table  1044.630         3
3                                        GE 30524EE4  1097.544         7
4                   AT&T CL83451 4-Handset Telephone  1029.950         5

   Discount    Profit
0       0.0  219.5820
1       0.2  132.5922
2       0.0  240.2649
3       0.2  123.4737
4       0.0  298.6855

[5 rows x 21 columns]

In [ ]:
# 4.2 Filtre os pedidos do Segment "Consumer".

df_segment_consumer = pd.read_sql("SELECT * FROM orders WHERE Segment = 'Consumer'", conn)

print(df_segment_consumer.head())

   Row ID        Order ID           Order Date   Ship Date       Ship Mode  \
0       1  CA-2016-152156  2016-11-08 00:00:00  11/11/2016    Second Class
1       2  CA-2016-152156  2016-11-08 00:00:00  11/11/2016    Second Class
2       4  US-2015-108966  2015-10-11 00:00:00  10/18/2015  Standard Class
3       5  US-2015-108966  2015-10-11 00:00:00  10/18/2015  Standard Class
4       6  CA-2014-115812  2014-06-09 00:00:00   6/14/2014  Standard Class

  Customer ID    Customer Name   Segment        Country             City  ...  \
0    CG-12520      Claire Gute  Consumer  United States        Henderson  ...
1    CG-12520      Claire Gute  Consumer  United States        Henderson  ...
2    SO-20335   Sean O'Donnell  Consumer  United States  Fort Lauderdale  ...
3    SO-20335   Sean O'Donnell  Consumer  United States  Fort Lauderdale  ...
4    BH-11710  Brosina Hoffman  Consumer  United States      Los Angeles  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       33311   South  FUR-TA-10000577        Furniture       Tables
3       33311   South  OFF-ST-10000760  Office Supplies      Storage
4       90032    West  FUR-FU-10001487        Furniture  Furnishings

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
3                     Eldon Fold 'N Roll Cart System   22.3680         2
4  Eldon Expressions Wood and Plastic Desk Access...   48.8600         7

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.45 -383.0310
3      0.20    2.5164
4      0.00   14.1694

[5 rows x 21 columns]

In [ ]:
# Renoemando a coluna dentro do SQL "Product Name" para "Product_Name" para evitar problemas com o espaço no nome da coluna, pois tive problemas ao tentar fazer consultas com o nome da coluna com espaço.

conn.execute("ALTER TABLE orders RENAME COLUMN 'Product Name' TO Product_Name")

In [ ]:
# 5. Consultas SQL Avançadas
# 5.1 Liste os 5 produtos mais vendidos por quantidade.

df_produtos_mais_vendidos = pd.read_sql(
    "SELECT Product_Name, SUM(Quantity) AS Total_Quantity "
    "FROM orders "
    "GROUP BY Product_Name "
    "ORDER BY Total_Quantity "
    "DESC LIMIT 5"
    , conn)

# Usei o DESC LIMIT 5 para pegar os 5 produtos mais vendidos por quantidade.

print(df_produtos_mais_vendidos)

                 Product_Name  Total_Quantity
0                     Staples             215
1             Staple envelope             170
2           Easy-staple paper             150
3     Staples in misc. colors              86
4  KI Adjustable-Height Table              74

In [103]:
# 5.2 Encontre a cidade com o maior volume de vendas.

df_cidade_maior_volume = pd.read_sql(
    "SELECT City, SUM(Sales) AS Total_Sales "
    "FROM orders "
    "GROUP BY City "
    "ORDER BY Total_Sales "
    "DESC LIMIT 1" 
    , conn)

# Usei o DESC LIMIT 1 para pegar apenas a primeira linha, que será a cidade com o maior volume de vendas.

print(df_cidade_maior_volume)

            City  Total_Sales
0  New York City   247347.687

In [102]:
# 6. Atualização e exclusão no banco.
# 6.1 Exclua todos os pedidos com valor de venda menor que R$ 50,00.

conn.execute("DELETE FROM orders WHERE Sales < 50")

# Para fazer o 6.2, precisamos criar uma coluna "Status" na tabela "orders".
conn.execute("ALTER TABLE orders ADD COLUMN Status TEXT")

# 6.2 Atualize os pedidos com quantidade maior que 10 para "Pedido em Revisão".

conn.execute("UPDATE orders SET Status = 'Pedido em Revisão' WHERE Quantity > 10")

In [104]:
# Vamos verificar se as alterações foram feitas corretamente.
df_sql = pd.read_sql("SELECT * FROM orders WHERE Quantity > 10", conn)

print(df_sql.head())

   Row ID        Order ID Order Date   Ship Date       Ship Mode Customer ID  \
0     148  CA-2016-114489  12/5/2016   12/9/2016  Standard Class    JE-16165
1     252  CA-2016-145625  9/11/2016   9/17/2016  Standard Class    KC-16540
2     344  CA-2014-122336  4/13/2014   4/17/2014    Second Class    JD-15895
3     413  CA-2017-117457  12/8/2017  12/12/2017  Standard Class    KH-16510
4     576  CA-2015-149713  9/18/2015   9/22/2015    Second Class    TG-21640

      Customer Name    Segment        Country           City  ...   Region  \
0    Justin Ellison  Corporate  United States       Franklin  ...  Central
1   Kelly Collister   Consumer  United States      San Diego  ...     West
2  Jonathan Doherty  Corporate  United States   Philadelphia  ...     East
3     Keith Herrera   Consumer  United States  San Francisco  ...     West
4      Trudy Glocke   Consumer  United States     Long Beach  ...     West

        Product ID         Category Sub-Category  \
0  TEC-PH-10000215       Technology       Phones
1  TEC-AC-10003832       Technology  Accessories
2  TEC-PH-10000702       Technology       Phones
3  FUR-BO-10001972        Furniture    Bookcases
4  OFF-PA-10004530  Office Supplies        Paper

                                        Product Name     Sales Quantity  \
0  Plantronics Cordless Phone Headset with In-lin...   384.450       11
1                 Logitech P710e Mobile Speakerphone  3347.370       13
2  Square Credit Card Reader, 4 1/2" x 4 1/2" x 1...    71.928       12
3         O'Sullivan 4-Shelf Bookcase in Odessa Pine  1336.829       13
4        Personal Creations Ink Jet Cards and Labels   160.720       14

   Discount    Profit             Status
0      0.00  103.8015  Pedido em Revisão
1      0.00  636.0003  Pedido em Revisão
2      0.40    8.3916  Pedido em Revisão
3      0.15   31.4548  Pedido em Revisão
4      0.00   78.7528  Pedido em Revisão

[5 rows x 22 columns]

In [ ]:
# 7. Criaçãop de colunas e transformações

# 7.1 Crie a coluna "Total com desconto" que é Sales - (Sales * Discount).

conn.execute("ALTER TABLE orders ADD COLUMN Total_com_desconto REAL")
conn.execute("UPDATE orders SET Total_com_desconto = Sales - (Sales * Discount)")

# 7.2 Preencha valores nulos com "Não Informado" para textos e 0 para valores numéricos.

conn.execute("UPDATE orders SET Product_Name = 'Não Informado' WHERE Product_Name IS NULL")
conn.execute("UPDATE orders SET Total_com_desconto = 0 WHERE Total_com_desconto IS NULL")

# 7.3 Ordene o DataFrame pelo valor de venda (Sales) en ordem decrescente.

df_sql = pd.read_sql("SELECT * FROM orders ORDER BY Sales DESC", conn)

print(df_sql.head())  # Exibindo as primeiras linhas do DataFrame ordenado por Sales

   Row ID        Order ID           Order Date   Ship Date       Ship Mode  \
0    2698  CA-2014-145317  2014-03-18 00:00:00   3/23/2014  Standard Class
1    6827  CA-2016-118689  2016-10-02 00:00:00   10/9/2016  Standard Class
2    8154  CA-2017-140151  2017-03-23 00:00:00   3/25/2017     First Class
3    2624  CA-2017-127180  2017-10-22 00:00:00  10/24/2017     First Class
4    4191  CA-2017-166709  2017-11-17 00:00:00  11/22/2017  Standard Class

  Customer ID Customer Name      Segment        Country           City  ...  \
0    SM-20320   Sean Miller  Home Office  United States   Jacksonville  ...
1    TC-20980  Tamara Chand    Corporate  United States      Lafayette  ...
2    RB-19360  Raymond Buch     Consumer  United States        Seattle  ...
3    TA-21385  Tom Ashbrook  Home Office  United States  New York City  ...
4    HL-15040  Hunter Lopez     Consumer  United States         Newark  ...

        Product ID    Category Sub-Category  \
0  TEC-MA-10002412  Technology     Machines
1  TEC-CO-10004722  Technology      Copiers
2  TEC-CO-10004722  Technology      Copiers
3  TEC-CO-10004722  Technology      Copiers
4  TEC-CO-10004722  Technology      Copiers

                                        Product_Name      Sales Quantity  \
0  Cisco TelePresence System EX90 Videoconferenci...  22638.480        6
1              Canon imageCLASS 2200 Advanced Copier  17499.950        5
2              Canon imageCLASS 2200 Advanced Copier  13999.960        4
3              Canon imageCLASS 2200 Advanced Copier  11199.968        4
4              Canon imageCLASS 2200 Advanced Copier  10499.970        3

  Discount     Profit  Status  Total_com_desconto
0      0.5 -1811.0784    None          11319.2400
1      0.0  8399.9760    None          17499.9500
2      0.0  6719.9808    None          13999.9600
3      0.2  3919.9888    None           8959.9744
4      0.0  5039.9856    None          10499.9700

[5 rows x 23 columns]

In [ ]:
# 8. Agrupe os pedidos por cidade e calcule a média de vendas.

df_media_vendas_cidade = pd.read_sql(
    "SELECT City, AVG(Sales) AS Media_Vendas "
    "FROM orders "
    "GROUP BY City"
    , conn)

print(df_media_vendas_cidade)  # Exibindo a média de vendas por cidade

            City  Media_Vendas
0          Akron    258.808600
1    Albuquerque    231.786000
2     Alexandria    761.934286
3          Allen    244.006000
4      Allentown    381.330000
..           ...           ...
467   Woonsocket     52.205000
468      Yonkers    833.008000
469         York    247.331333
470      Yucaipa     50.800000
471         Yuma    392.756500

[472 rows x 2 columns]

In [ ]:
# 9. Tratamento de erros - Arquivo inexistente. Tente carregar um arquivo CSV inexistente e trate o erro com try/except, exibindo uma mensagem amigável.

try:
    df = pd.read_csv("arquivo_inexistente.csv")
except FileNotFoundError:
    print("O arquivo não foi encontrado. Verifique o caminho e tente novamente.")
except Exception as e:
    print("Ocorreu um erro ao tentar carregar o arquivo:", e)

O arquivo não foi encontrado. Verifique o caminho e tente novamente.

In [105]:
# 10. Tratamento de valores inválidos - Verifique se a coluna "Quantity" contém apenas valores positivos e se houver exiba um alerta e corrija-os.

df_quantidade_negativa = pd.read_sql("SELECT * FROM orders WHERE Quantity < 0", conn)

if not df_quantidade_negativa.empty:
    print("Quantidades negativas encontradas. Corrigindo...")
    conn.execute("UPDATE orders SET Quantity = 0 WHERE Quantity < 0")
else:
    print("Nenhuma quantidade negativa encontrada.")

Nenhuma quantidade negativa encontrada.

In [ ]:
# 11. Bloco 'else' em exceções - Tente abrir um arquivo. Se for carregado com sucesso, exiba "Arquivo carregado com sucesso". Caso contrário, trate o erro.

try:
    df = pd.read_csv("Sample - Superstore.csv")
except Exception as e:
    print("Ocorreu um erro ao tentar carregar o arquivo:", e)
else:
    print("Arquivo carregado com sucesso.")

Ocorreu um erro ao tentar carregar o arquivo: 'utf-8' codec can't decode byte 0xa0 in position 2944: invalid start byte

In [ ]:
# 12. Tratamento de FileNotFoundError - Tente abrir um arquivo chamado "dados_inexistentes.csv" e trate a exceção, exibindo "Arquivo não encontrado. Verifique o nome do arquivo."

try:
    df = pd.read_csv("dados_inexistentes.csv")
except FileNotFoundError:
    print("Arquivo não encontrado. Verifique o nome do arquivo.")
except Exception as e:
    print("Ocorreu um erro ao tentar carregar o arquivo:", e)

Arquivo não encontrado. Verifique o nome do arquivo.

In [ ]:
# 13. Uso de pass para silenciar falhas - Tente abrir um arquivo que pode ou não existir. Se houver erro, use pass para continuar a execução sem interrupções.

try:
    df = pd.read_csv("dados_inexistentes.csv")
except FileNotFoundError:
    pass
except Exception as e:
    pass

print("O código continuou a ser executado após a exceção.")

O código continuou a ser executado após a exceção.

In [106]:
# 14. Exportação de resultados - Filtre pedidos com lucro positivo e salve o resultado em m novo arquivo CSV chamado "pedidos_lucrativos.csv".

df_lucro_positivo = pd.read_sql("SELECT * FROM orders WHERE Profit > 0", conn)
df_lucro_positivo.to_csv("pedidos_lucrativos.csv", index=False)

print("Pedidos com lucro positivo salvos em 'pedidos_lucrativos.csv'.")

Pedidos com lucro positivo salvos em 'pedidos_lucrativos.csv'.

In [107]:
# 15. Automação de análise de vendas - Crie um script que carregue o dataset, filtre pedidos com lucro positivo, calcule o total de vendas por cidade e exporte o resultado para "resumo_vendas.csv". 

df = pd.read_csv("Sample - Superstore.csv", encoding='ISO-8859-1')
df = df[df["Profit"] > 0]
df_resumo_vendas = df.groupby("City")["Sales"].sum().reset_index()
# Usei o reset_index() para transformar a série resultante em um DataFrame.
df_resumo_vendas.to_csv("resumo_vendas.csv", index=False)

print("Resumo de vendas salvo em 'resumo_vendas.csv'.")

Resumo de vendas salvo em 'resumo_vendas.csv'.

In [111]:
# 16. Criação de um relatório dinâmico - Usando Pandas, gere um relatório de vendas por categoria agrupando os dados e exporte os resultados para um arquivo Excel com multiplas abas (uma aba por categoria).

df = pd.read_csv("Sample - Superstore.csv", encoding='ISO-8859-1')
categorias = df["Category"].unique()
# Usei o método unique() para obter as categorias únicas. Dando uma olhada no DataFrame, vi que temos somente 3 categorias: "Furniture", "Office Supplies" e "Technology".

with pd.ExcelWriter("relatorio_vendas.xlsx", engine="openpyxl") as writer:
    for categoria in categorias:
        df_categoria = df[df["Category"] == categoria]
        df_categoria.to_excel(writer, sheet_name=categoria, index=False)

print("Relatório de vendas salvo em 'relatorio_vendas.xlsx'.")

Relatório de vendas salvo em 'relatorio_vendas.xlsx'.

In [ ]:
# Aqui iremos fechar a conexão com o banco de dados pois o TP3 chegou ao fim.

conn.close()
print("Conexão com o banco de dados encerrada.")

Conexão com o banco de dados encerrada.