
# üöÄ Guia Completo do SQLAlchemy ORM

Neste notebook, voc√™ aprender√° tudo sobre **SQLAlchemy ORM**, desde os conceitos fundamentais at√© exemplos pr√°ticos avan√ßados.  
Vamos explorar como **manipular bancos de dados** sem precisar escrever SQL puro, utilizando a t√©cnica de **Object-Relational Mapping (ORM)**.

---

## üìå **O que √© ORM e por que usar?**

ORM (**Object-Relational Mapping**) permite manipular bancos de dados usando **classes e objetos** em Python, ao inv√©s de escrever **SQL manualmente**.  
Isso traz v√°rias vantagens:

‚úî **Facilidade de uso** ‚Üí Trabalhamos com classes Python em vez de consultas SQL complexas.  
‚úî **Portabilidade** ‚Üí Podemos trocar o banco de dados (SQLite, MySQL, PostgreSQL, etc.) sem modificar o c√≥digo.  
‚úî **Seguran√ßa** ‚Üí Evita SQL Injection, pois as consultas s√£o geradas automaticamente pelo SQLAlchemy.  
‚úî **Reutiliza√ß√£o de c√≥digo** ‚Üí Classes podem ser reutilizadas e ampliadas em diferentes partes do programa.  

O **SQLAlchemy** √© a biblioteca ORM mais popular do Python e permite transformar tabelas do banco de dados em **classes Python**, facilitando a manipula√ß√£o dos dados.

---

## üìå **Configura√ß√£o do SQLAlchemy**

Vamos configurar um **banco de dados SQLite** e criar uma **classe ORM** que representa a tabela `pedidos`.  

---

## **Criando a Conex√£o com o Banco**

O primeiro passo no SQLAlchemy √© criar a conex√£o com o banco de dados.

In [1]:
from sqlalchemy import create_engine

# Criando conex√£o com o banco SQLite
engine = create_engine("sqlite:///banco_exemplo.db", echo=True)

/// ou ////

**Resumo**
- `create_engine()` cria a conex√£o com o banco.
- `"sqlite:///meu_banco.db"` indica que estamos usando um banco SQLite chamado `meu_banco.db`.
- `echo=True` ativa logs para visualizar os comandos SQL gerados.

## **Criando uma Classe Base**

O SQLAlchemy usa classes Python para representar tabelas do banco.  
Para isso, precisamos de uma **classe base** para criar nossas tabelas.

In [2]:
from sqlalchemy.orm import declarative_base

# Criando a base para o ORM
Base = declarative_base()

**Resumo**
- `declarative_base()` cria uma classe base para todas as tabelas do banco.
- Todas as classes que criarmos herdar√£o dessa base

## **Definindo uma Tabela (Criando uma Classe ORM)**

Agora, vamos criar uma classe Python que representa uma tabela no banco.

In [3]:
from sqlalchemy import Column, Integer, String

class Usuario(Base):
    __tablename__ = "usuarios"  # Nome da tabela no banco

    id = Column(Integer, primary_key=True)  # Chave prim√°ria
    nome = Column(String, nullable=False)  # Nome do usu√°rio
    idade = Column(Integer, nullable=False)  # Idade do usu√°rio

    def __repr__(self):
        return f'{self.nome}, {self.idade}'

**Resumo**
- Criamos a classe `Usuario`, que representa uma tabela chamada `"usuarios"`.
- `id` ‚Üí Chave prim√°ria da tabela.
- `nome` ‚Üí Coluna do tipo `String`, que n√£o pode ser `NULL`.
- `idade` ‚Üí Coluna do tipo `Integer`, que tamb√©m n√£o pode ser `NULL`.

## **Criando as Tabelas no Banco**

Agora que definimos a classe `Usuario`, precisamos **criar essa tabela no banco**.

In [4]:
# Criando a tabela no banco de dados
Base.metadata.create_all(engine)

2025-03-12 21:25:44,794 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 21:25:44,795 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("usuarios")
2025-03-12 21:25:44,795 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-12 21:25:44,797 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("usuarios")
2025-03-12 21:25:44,798 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-12 21:25:44,799 INFO sqlalchemy.engine.Engine
CREATE TABLE usuarios (
	id INTEGER NOT NULL,
	nome VARCHAR NOT NULL,
	idade INTEGER NOT NULL,
	PRIMARY KEY (id)
)


2025-03-12 21:25:44,800 INFO sqlalchemy.engine.Engine [no key 0.00075s] ()
2025-03-12 21:25:44,805 INFO sqlalchemy.engine.Engine COMMIT

**Resumo**
- O SQLAlchemy **verifica se a tabela j√° existe** no banco.
- Se **n√£o existir**, ele **cria a tabela automaticamente**.

## **Criando uma Sess√£o para Manipular o Banco**

Para adicionar, buscar ou atualizar registros, precisamos de uma **sess√£o**.

In [5]:
from sqlalchemy.orm import sessionmaker

# Criando uma f√°brica de sess√µes
Session = sessionmaker(bind=engine)

# Criando uma sess√£o
session = Session()

**Resumo**
- `sessionmaker(bind=engine)` cria uma **f√°brica de sess√µes** conectada ao banco.
- `Session()` inicia uma **nova sess√£o**, permitindo executar opera√ß√µes no banco.

## **Adicionando Registros ao Banco**

In [14]:
# Criando um novo usu√°rio
novo_usuario = Usuario(nome="Carlos", idade=30)

# Adicionando √† sess√£o
session.add(novo_usuario)

# Salvando no banco
session.commit()

2025-03-12 21:27:09,207 INFO sqlalchemy.engine.Engine INSERT INTO usuarios (nome, idade) VALUES (?, ?)
2025-03-12 21:27:09,208 INFO sqlalchemy.engine.Engine [cached since 84.38s ago] ('Carlos', 30)
2025-03-12 21:27:09,209 INFO sqlalchemy.engine.Engine COMMIT

**Resumo**
- Criamos um objeto `Usuario` (representando um registro na tabela).
- `session.add(novo_usuario)` adiciona o objeto na sess√£o.
- `session.commit()` grava os dados no banco.

## **Consultando Registros no Banco**

Agora, vamos buscar um usu√°rio pelo nome.

In [15]:
# Buscando um usu√°rio com nome "Fernando"
usuario = session.query(Usuario).filter_by(nome="Carlos").first()
print('Nome:', usuario.nome, ', Idade:', usuario.idade)

2025-03-12 21:27:11,323 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 21:27:11,324 INFO sqlalchemy.engine.Engine SELECT usuarios.id AS usuarios_id, usuarios.nome AS usuarios_nome, usuarios.idade AS usuarios_idade
FROM usuarios
WHERE usuarios.nome = ?
 LIMIT ? OFFSET ?
2025-03-12 21:27:11,324 INFO sqlalchemy.engine.Engine [cached since 77.84s ago] ('Carlos', 1, 0)
Nome: Carlos , Idade: 30

In [54]:
# print(usuario)

**Resumo**
- `session.query(Usuario)` ‚Üí Inicia uma consulta na tabela `usuarios`.
- `filter_by(nome="Carlos")` ‚Üí Filtra apenas os usu√°rios com `nome = "Carlos"`.
- `first()` ‚Üí Retorna apenas o primeiro resultado encontrado.

## **Atualizando um Registro no Banco**

In [8]:
# Alterando a idade do usu√°rio "Fernando"
usuario.idade = 35

# Salvando a altera√ß√£o no banco
session.commit()

2025-03-12 21:26:00,719 INFO sqlalchemy.engine.Engine UPDATE usuarios SET idade=? WHERE usuarios.id = ?
2025-03-12 21:26:00,720 INFO sqlalchemy.engine.Engine [generated in 0.00103s] (35, 1)
2025-03-12 21:26:00,721 INFO sqlalchemy.engine.Engine COMMIT

**Resumo**
- Alteramos o valor do atributo `idade` do objeto `usuario`.
- `session.commit()` grava a altera√ß√£o no banco de dados.

## **Removendo um Registro do Banco**

In [16]:
# Deletando o usu√°rio "Fernando"
session.delete(usuario)

# Confirmando a exclus√£o
session.commit()

2025-03-12 21:27:17,617 INFO sqlalchemy.engine.Engine DELETE FROM usuarios WHERE usuarios.id = ?
2025-03-12 21:27:17,618 INFO sqlalchemy.engine.Engine [cached since 71.54s ago] (1,)
2025-03-12 21:27:17,619 INFO sqlalchemy.engine.Engine COMMIT

In [17]:
session.query(Usuario).filter_by(nome="Carlos").first()

2025-03-12 21:27:19,474 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 21:27:19,476 INFO sqlalchemy.engine.Engine SELECT usuarios.id AS usuarios_id, usuarios.nome AS usuarios_nome, usuarios.idade AS usuarios_idade
FROM usuarios
WHERE usuarios.nome = ?
 LIMIT ? OFFSET ?
2025-03-12 21:27:19,477 INFO sqlalchemy.engine.Engine [cached since 85.99s ago] ('Carlos', 1, 0)

**Resumo**
- `session.delete(usuario)` marca o objeto para exclus√£o.
- `session.commit()` confirma a remo√ß√£o no banco.


# üìå **Resumo das Opera√ß√µes SQLAlchemy**

| Passo | Comando | Explica√ß√£o |
|-------|---------|------------|
| **1Ô∏è‚É£ Criar conex√£o** | `engine = create_engine("sqlite:///meu_banco.db")` | Conex√£o com o banco |
| **2Ô∏è‚É£ Criar base ORM** | `Base = declarative_base()` | Define a estrutura ORM |
| **3Ô∏è‚É£ Criar tabela** | Criar classe herdando de `Base` | Define a estrutura da tabela |
| **4Ô∏è‚É£ Criar tabelas no banco** | `Base.metadata.create_all(engine)` | Cria a tabela se n√£o existir |
| **5Ô∏è‚É£ Criar sess√£o** | `session = Session()` | Inicia a sess√£o para interagir com o banco |
| **6Ô∏è‚É£ Adicionar registro** | `session.add(objeto)` + `session.commit()` | Insere um novo dado |
| **7Ô∏è‚É£ Buscar dados** | `session.query(Tabela).filter_by(coluna=valor).first()` | Consulta dados no banco |
| **8Ô∏è‚É£ Atualizar dados** | `objeto.atributo = novo_valor` + `session.commit()` | Atualiza um valor |
| **9Ô∏è‚É£ Deletar dados** | `session.delete(objeto)` + `session.commit()` | Remove um dado |