# üìå Manipula√ß√£o de Tabela `Pedido` com SQLAlchemy ORM

Este notebook demonstra o uso do **SQLAlchemy ORM** para criar, explorar e manipular a tabela `Pedido`.

## Criar conex√£o com o banco e definir a tabela

In [69]:
from sqlalchemy import create_engine
from sqlalchemy import Column, Float, Integer, String
from sqlalchemy.orm import declarative_base, sessionmaker

In [73]:
# Criando conex√£o com o banco de dados SQLite
engine = create_engine("sqlite:///superstore.db", echo=True)

# Criando a base do ORM
Base = declarative_base()

# Criando uma classe que representa a tabela "pedidos"
class Pedido(Base):
    __tablename__ = "pedidos"
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    nome_cliente = Column(String)
    cidade = Column(String)
    categoria = Column(String)
    quantidade = Column(Integer)
    vendas = Column(Float)

# Criando a tabela no banco
Base.metadata.create_all(engine)

# Criando uma sess√£o para manipular os dados
Session = sessionmaker(bind=engine)
session = Session()

2025-03-12 21:31:57,185 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 21:31:57,186 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pedidos")
2025-03-12 21:31:57,186 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-12 21:31:57,187 INFO sqlalchemy.engine.Engine COMMIT

## Criar um novo pedido

In [93]:
novo_pedido = Pedido(nome_cliente="Carlos Silva", cidade="S√£o Paulo", categoria="Tecnologia", quantidade=5, vendas=1200.50)
novo_pedido2 = Pedido(nome_cliente="Alberto Santos", cidade="S√£o Paulo", categoria="Tecnologia", quantidade=15, vendas=200.00)


# Adicionando e salvando no banco
session.add(novo_pedido)
session.add(novo_pedido2)
session.commit()

2025-03-12 21:39:00,319 INFO sqlalchemy.engine.Engine INSERT INTO pedidos (nome_cliente, cidade, categoria, quantidade, vendas) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-03-12 21:39:00,321 INFO sqlalchemy.engine.Engine [generated in 0.00017s (insertmanyvalues) 1/2 (ordered; batch not supported)] ('Carlos Silva', 'S√£o Paulo', 'Tecnologia', 5, 1200.5)
2025-03-12 21:39:00,321 INFO sqlalchemy.engine.Engine INSERT INTO pedidos (nome_cliente, cidade, categoria, quantidade, vendas) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-03-12 21:39:00,322 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] ('Alberto Santos', 'S√£o Paulo', 'Tecnologia', 15, 200.0)
2025-03-12 21:39:00,323 INFO sqlalchemy.engine.Engine COMMIT

## Buscar todos os pedidos

In [77]:
pedidos = session.query(Pedido).all()
print('\n')

# Exibir os pedidos
for pedido in pedidos:
    print(pedido.id, pedido.nome_cliente, pedido.cidade, pedido.categoria, pedido.quantidade, pedido.vendas)

2025-03-12 21:33:01,265 INFO sqlalchemy.engine.Engine SELECT pedidos.id AS pedidos_id, pedidos.nome_cliente AS pedidos_nome_cliente, pedidos.cidade AS pedidos_cidade, pedidos.categoria AS pedidos_categoria, pedidos.quantidade AS pedidos_quantidade, pedidos.vendas AS pedidos_vendas
FROM pedidos
2025-03-12 21:33:01,266 INFO sqlalchemy.engine.Engine [cached since 60.08s ago] ()


1 Carlos Silva S√£o Paulo Tecnologia 5 1200.5
2 Alberto Santos S√£o Paulo Tecnologia 15 200.0

## Filtrar pedidos com vendas > 1000

In [76]:
pedidos_grandes = session.query(Pedido).filter(Pedido.vendas > 1000).all()

print('\n')
for pedido in pedidos_grandes:
    print(pedido.nome_cliente, pedido.vendas)

2025-03-12 21:32:43,949 INFO sqlalchemy.engine.Engine SELECT pedidos.id AS pedidos_id, pedidos.nome_cliente AS pedidos_nome_cliente, pedidos.cidade AS pedidos_cidade, pedidos.categoria AS pedidos_categoria, pedidos.quantidade AS pedidos_quantidade, pedidos.vendas AS pedidos_vendas
FROM pedidos
WHERE pedidos.vendas > ?
2025-03-12 21:32:43,951 INFO sqlalchemy.engine.Engine [cached since 37.1s ago] (1000,)


Carlos Silva 1200.5

## Buscar um pedido e atualizar a quantidade

In [82]:
pedido = session.query(Pedido).filter_by(nome_cliente="Carlos Silva").first()
pedido.quantidade = 10

# Salvar no banco
session.commit()

2025-03-12 21:34:50,567 INFO sqlalchemy.engine.Engine SELECT pedidos.id AS pedidos_id, pedidos.nome_cliente AS pedidos_nome_cliente, pedidos.cidade AS pedidos_cidade, pedidos.categoria AS pedidos_categoria, pedidos.quantidade AS pedidos_quantidade, pedidos.vendas AS pedidos_vendas
FROM pedidos
WHERE pedidos.nome_cliente = ?
 LIMIT ? OFFSET ?
2025-03-12 21:34:50,569 INFO sqlalchemy.engine.Engine [generated in 0.00182s] ('Carlos Silva', 1, 0)
2025-03-12 21:34:50,571 INFO sqlalchemy.engine.Engine UPDATE pedidos SET quantidade=? WHERE pedidos.id = ?
2025-03-12 21:34:50,572 INFO sqlalchemy.engine.Engine [generated in 0.00065s] (10, 1)
2025-03-12 21:34:50,573 INFO sqlalchemy.engine.Engine COMMIT

In [83]:
temp = session.query(Pedido).filter(Pedido.vendas > 1000).all()
for pedido in temp:
    print(pedido.quantidade)

2025-03-12 21:34:53,136 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 21:34:53,137 INFO sqlalchemy.engine.Engine SELECT pedidos.id AS pedidos_id, pedidos.nome_cliente AS pedidos_nome_cliente, pedidos.cidade AS pedidos_cidade, pedidos.categoria AS pedidos_categoria, pedidos.quantidade AS pedidos_quantidade, pedidos.vendas AS pedidos_vendas
FROM pedidos
WHERE pedidos.vendas > ?
2025-03-12 21:34:53,138 INFO sqlalchemy.engine.Engine [cached since 166.3s ago] (1000,)
10

## Buscar e excluir um pedido

In [84]:
pedido_para_excluir = session.query(Pedido).filter_by(nome_cliente="Carlos Silva").first()
session.delete(pedido_para_excluir)
session.commit()

2025-03-12 21:35:33,648 INFO sqlalchemy.engine.Engine SELECT pedidos.id AS pedidos_id, pedidos.nome_cliente AS pedidos_nome_cliente, pedidos.cidade AS pedidos_cidade, pedidos.categoria AS pedidos_categoria, pedidos.quantidade AS pedidos_quantidade, pedidos.vendas AS pedidos_vendas
FROM pedidos
WHERE pedidos.nome_cliente = ?
 LIMIT ? OFFSET ?
2025-03-12 21:35:33,650 INFO sqlalchemy.engine.Engine [cached since 43.08s ago] ('Carlos Silva', 1, 0)
2025-03-12 21:35:33,654 INFO sqlalchemy.engine.Engine DELETE FROM pedidos WHERE pedidos.id = ?
2025-03-12 21:35:33,656 INFO sqlalchemy.engine.Engine [generated in 0.00204s] (1,)
2025-03-12 21:35:33,657 INFO sqlalchemy.engine.Engine COMMIT

## Abrir a tabela no pandas (ORM)

In [91]:
# pedidos[0].__dict__

In [90]:
import pandas as pd

# Buscando todos os registros da tabela 'pedidos'
pedidos = session.query(Pedido).all()

# Convertendo para um DataFrame Pandas
df = pd.DataFrame([pedido.__dict__ for pedido in pedidos])

# Removendo a coluna '_sa_instance_state' (gerada pelo SQLAlchemy)
df.drop(columns=['_sa_instance_state'], inplace=True, errors='ignore')

# Exibindo os dados
df

2025-03-12 21:37:32,358 INFO sqlalchemy.engine.Engine SELECT pedidos.id AS pedidos_id, pedidos.nome_cliente AS pedidos_nome_cliente, pedidos.cidade AS pedidos_cidade, pedidos.categoria AS pedidos_categoria, pedidos.quantidade AS pedidos_quantidade, pedidos.vendas AS pedidos_vendas
FROM pedidos
2025-03-12 21:37:32,360 INFO sqlalchemy.engine.Engine [cached since 331.2s ago] ()

      cidade  vendas   categoria  quantidade  id    nome_cliente
0  S√£o Paulo   200.0  Tecnologia          15   2  Alberto Santos

In [49]:
# [pedido.__dict__ for pedido in pedidos]

## Abrir a tabela no pandas (mais eficiente)

In [94]:
import pandas as pd
from sqlalchemy import create_engine

# Criando conex√£o com o banco
engine = create_engine("sqlite:///superstore.db")

# Lendo a tabela diretamente para Pandas (muito mais r√°pido!)
df = pd.read_sql("SELECT * FROM pedidos", con=engine)

# Exibindo as primeiras linhas
df.head()

   id    nome_cliente     cidade   categoria  quantidade  vendas
0   2  Alberto Santos  S√£o Paulo  Tecnologia          15   200.0
1   3    Carlos Silva  S√£o Paulo  Tecnologia           5  1200.5
2   4  Alberto Santos  S√£o Paulo  Tecnologia          15   200.0