# üìñ Abrindo Arquivos em Python: Teoria e Pr√°tica

Este notebook cobre a manipula√ß√£o de arquivos em Python, incluindo conceitos te√≥ricos, exemplos b√°sicos e avan√ßados, e uso da biblioteca `pandas` para manipula√ß√£o de arquivos estruturados.

## üìù Parte 1: Teoria e Conceitos Fundamentais

Em Python, a manipula√ß√£o de arquivos √© feita usando a fun√ß√£o `open()`, que permite **ler, escrever e manipular arquivos** no sistema.

### üìå Modos de Abertura de Arquivos

| Modo  | Descri√ß√£o |
|--------|-------------------------------|
| `"r"`  | Leitura (modo padr√£o). O arquivo deve existir. |
| `"w"`  | Escrita. Sobrescreve o conte√∫do do arquivo se ele j√° existir. |
| `"a"`  | Acrescenta conte√∫do ao final do arquivo. Se n√£o existir, cria um novo. |
| `"x"`  | Cria um novo arquivo. Retorna erro se o arquivo j√° existir. |
| `"b"`  | Modo bin√°rio (usado para arquivos como imagens e PDFs). |
| `"t"`  | Modo de texto (padr√£o). |

A sintaxe b√°sica √©:

```python
arquivo = open("meuarquivo.txt", "r")
conteudo = arquivo.read()
arquivo.close()
```

Para evitar esquecer de fechar o arquivo, use `with open()`, que fecha o arquivo automaticamente:

```python
with open("meuarquivo.txt", "r") as arquivo:
    conteudo = arquivo.read()
```

## ‚úè Parte 2: Exemplos Simples

In [1]:
with open("exemplo.txt", "w", encoding="utf-8") as f:
    pass  # Apenas cria o arquivo sem escrever nada

In [2]:
# 1Ô∏è‚É£ Lendo um Arquivo Texto Inteiro
with open("texto.txt", "r", encoding="utf-8") as arquivo:
    conteudo = arquivo.read()
    print(conteudo)

Nome: Jo√£o da Silva
Idade: 32 anos
Cidade: S√£o Paulo
Profiss√£o: Engenheiro de Software

Nome: Maria Oliveira
Idade: 28 anos
Cidade: Rio de Janeiro
Profiss√£o: Designer Gr√°fico

Nome: Pedro Santos
Idade: 40 anos
Cidade: Belo Horizonte
Profiss√£o: Analista de Dados

Este √© um arquivo de exemplo contendo informa√ß√µes de diferentes pessoas.
Cada bloco cont√©m nome, idade, cidade e profiss√£o.

In [3]:
# 2Ô∏è‚É£ Lendo um Arquivo Linha por Linha
with open("texto.txt", "r", encoding="utf-8") as arquivo:
    for linha in arquivo:
        print(linha.strip())

Nome: Jo√£o da Silva
Idade: 32 anos
Cidade: S√£o Paulo
Profiss√£o: Engenheiro de Software

Nome: Maria Oliveira
Idade: 28 anos
Cidade: Rio de Janeiro
Profiss√£o: Designer Gr√°fico

Nome: Pedro Santos
Idade: 40 anos
Cidade: Belo Horizonte
Profiss√£o: Analista de Dados

Este √© um arquivo de exemplo contendo informa√ß√µes de diferentes pessoas.
Cada bloco cont√©m nome, idade, cidade e profiss√£o.

In [4]:
# 3Ô∏è‚É£ Escrevendo em um Arquivo (Sobrescrevendo)
with open("saida.txt", "w", encoding="utf-8") as arquivo:
    arquivo.write("Escrevendo minha primeira linha em um arquivo!\n")
    arquivo.write("E esta √© a segunda linha.")

In [7]:
with open("saida.txt", "r", encoding="utf-8") as arquivo:
    conteudo = arquivo.read()
    print(conteudo)

Escrevendo minha primeira linha em um arquivo!
E esta √© a segunda linha.
Agora estou adicionando mais conte√∫do ao final!

In [6]:
# 4Ô∏è‚É£ Acrescentando Texto em um Arquivo Existente
with open("saida.txt", "a", encoding="utf-8") as arquivo:
    arquivo.write("\nAgora estou adicionando mais conte√∫do ao final!")

## üèó Parte 3: Exemplos Mais Complexos

In [114]:
# 6Ô∏è‚É£ Contar a Frequ√™ncia de Palavras em um Arquivo Texto
from collections import Counter

with open("texto.txt", "r", encoding="utf-8") as arquivo:
    palavras = arquivo.read().split()
    # print(palavras)
    contagem = Counter(palavras)
    # print(contagem)

print(contagem.most_common(5))

[('de', 5), ('Nome:', 3), ('Idade:', 3), ('anos', 3), ('Cidade:', 3)]

CSV: comma separator value

In [8]:
# 7Ô∏è‚É£ Manipulando Arquivos CSV sem Pandas
import csv

with open("dados.csv", "r", encoding="utf-8") as arquivo:
    leitor = csv.reader(arquivo)
    for linha in leitor:
        print(linha)

['Nome', 'Idade', 'Cidade', 'Profiss√£o', 'Sal√°rio']
['Jo√£o da Silva', '32', 'S√£o Paulo', 'Engenheiro de Software', '12000']
['Maria Oliveira', '28', 'Rio de Janeiro', 'Designer Gr√°fico', '7500']
['Pedro Santos', '40', 'Belo Horizonte', 'Analista de Dados', '9500']
['Ana Souza', '35', 'Curitiba', 'Gerente de Projetos', '13500']
['Carlos Mendes', '29', 'Porto Alegre', 'Desenvolvedor Web', '8500']
['Fernanda Lima', '41', 'Bras√≠lia', 'Cientista de Dados', '14500']

In [9]:
# Escrevendo um CSV sem Pandas
dados = [
    ["Nome", "Idade", "Cidade"],
    ["Ana", 25, "S√£o Paulo"],
    ["Carlos", 30, "Rio de Janeiro"]
]

with open("saida.csv", "w", newline='', encoding="utf-8") as arquivo:
    escritor = csv.writer(arquivo)
    escritor.writerows(dados)

In [10]:
with open("saida.csv", "r", newline='', encoding="utf-8") as arquivo:
    conteudo = csv.reader(arquivo)
    for linha in conteudo:
        print(linha)

['Nome', 'Idade', 'Cidade']
['Ana', '25', 'S√£o Paulo']
['Carlos', '30', 'Rio de Janeiro']

In [11]:
# 8Ô∏è‚É£ Trabalhando com JSON
import json

dados = {
    "nome": "Jo√£o",
    "idade": 30,
    "cidade": "Curitiba"
}

# Salvando um dicion√°rio em JSON
with open("dados.json", "w", encoding="utf-8") as arquivo:
    json.dump(dados, arquivo, indent=4)

# Lendo JSON
with open("dados.json", "r", encoding="utf-8") as arquivo:
    dados_carregados = json.load(arquivo)

print(dados_carregados)

{'nome': 'Jo√£o', 'idade': 30, 'cidade': 'Curitiba'}

## üìä Parte 4: Manipula√ß√£o de Arquivos com Pandas

In [12]:
# 9Ô∏è‚É£ Lendo um CSV com Pandas
import pandas as pd

df = pd.read_csv("dados.csv", encoding="utf-8") # modo 'r'
df.head(2)

             Nome  Idade          Cidade               Profiss√£o  Sal√°rio
0   Jo√£o da Silva     32       S√£o Paulo  Engenheiro de Software    12000
1  Maria Oliveira     28  Rio de Janeiro        Designer Gr√°fico     7500

In [121]:
# üîü Salvando um DataFrame como CSV
df.to_csv("saida_pandas.csv", index=False, encoding="utf-8") # modo 'w'

In [122]:
# 1Ô∏è‚É£1Ô∏è‚É£ Lendo um Arquivo JSON com Pandas
df_json = pd.read_json("dados.json", orient="index")
df_json

               0
nome        Jo√£o
idade         30
cidade  Curitiba

In [123]:
# 1Ô∏è‚É£2Ô∏è‚É£ Salvando um DataFrame em JSON
df_json.to_json("saida.json", orient="records", indent=4)

In [124]:
with open("saida.json", "r", encoding="utf-8") as arquivo:
    dados_carregados = json.load(arquivo)
    print(dados_carregados)

[{'0': 'Jo√£o'}, {'0': 30}, {'0': 'Curitiba'}]

In [125]:
# 1Ô∏è‚É£3Ô∏è‚É£ Filtrando Dados de um CSV
df_filtrado = df[df["Idade"] > 35]  # Filtra apenas pessoas com mais de 25 anos
df_filtrado

            Nome  Idade          Cidade           Profiss√£o  Sal√°rio
2   Pedro Santos     40  Belo Horizonte   Analista de Dados     9500
5  Fernanda Lima     41        Bras√≠lia  Cientista de Dados    14500

In [126]:
# 1Ô∏è‚É£4Ô∏è‚É£ Criando um Novo CSV Apenas com Colunas Espec√≠ficas
df_cols = df[["Nome", "Idade"]]
df_cols.to_csv("nomes_idades.csv", index=False) # modo 'w'

In [127]:
df_subset = pd.read_csv("nomes_idades.csv")
df_subset.head(3)

             Nome  Idade
0   Jo√£o da Silva     32
1  Maria Oliveira     28
2    Pedro Santos     40

## üéØ Resumo e Conclus√£o

‚úî Python permite abrir arquivos de texto, CSV e JSON facilmente com `open()`.

‚úî Para arquivos grandes, ler **linha por linha** evita o consumo excessivo de mem√≥ria.

‚úî O **modo de abertura (`r`, `w`, `a`, `b`)** define o comportamento ao acessar o arquivo.

‚úî `csv` e `json` s√£o m√≥dulos √∫teis para manipular arquivos estruturados.

‚úî `pandas` facilita a an√°lise e transforma√ß√£o de arquivos CSV e JSON.