In [55]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\jfand\appdata\local\programs\python\python311\lib\site-packages (2.0.38)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jfand\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\jfand\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

In [1]:
#Criando a conexão com o banco de dados
#O primeiro passo no SQLAlchemy é criar uma conexão com o banco de dados.

from sqlalchemy import create_engine

#Criando a conexão com o banco SQLite

engine = create_engine('sqlite:///banco_exemplo.db', echo=True)

#O que são essas 3 barras?
#Essas 3 barras são uma forma de dizer para o SQLAlchemy que queremos usar um banco de dados SQLite.
#Aonde o arquivo do banco de dados será criado?
#O arquivo do banco de dados será criado no mesmo diretório que o script está sendo executado.

In [2]:
#Criando uma Classe Base

#O SQLAlchemy usa classes Python para representar tabelas em um banco de dados.

from sqlalchemy.orm import declarative_base

#Criando a base para o ORM
Base = declarative_base() #cria uma base para todas as tabelas do banco.

In [3]:
#Definindo a estrutura da tabela

from sqlalchemy import Column, Integer, String

class Usuario(Base):
    __tablename__ = 'usuarios' #Nome da tabela no banco de dados

    id = Column(Integer, primary_key=True) #Chave primária
    nome = Column(String, nullable=False) #Nome não pode ser nulo
    idade = Column(Integer, nullable=False) #Idade não pode ser nula

    def __repr__(self):
        return f'Usuario(id={self.id}, nome={self.nome}, idade={self.idade})'

In [4]:
#Criando as Tabelas no banco de dados

Base.metadata.create_all(engine) #Cria as tabelas no banco de dados.

#O SQLAlchemy verifica se a tabela já existe no banco de dados e, se não existir, a cria automaticamente.

2025-03-12 20:24:19,606 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 20:24:19,607 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("usuarios")
2025-03-12 20:24:19,608 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-12 20:24:19,610 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("usuarios")
2025-03-12 20:24:19,612 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-12 20:24:19,614 INFO sqlalchemy.engine.Engine
CREATE TABLE usuarios (
	id INTEGER NOT NULL,
	nome VARCHAR NOT NULL,
	idade INTEGER NOT NULL,
	PRIMARY KEY (id)
)


2025-03-12 20:24:19,616 INFO sqlalchemy.engine.Engine [no key 0.00253s] ()
2025-03-12 20:24:19,624 INFO sqlalchemy.engine.Engine COMMIT

In [5]:
#Criando uma Sessão para Manipular o Banco

from sqlalchemy.orm import sessionmaker

#Criando uma fábrica de sessões
Session = sessionmaker(bind=engine) 

#Criando uma sessão a partir da fábrica
session = Session() 

#Agora temos uma sessão que podemos usar para manipular o banco de dados.

In [ ]:
#Adicionando Registros ao Banco

#Criando um novo usuário
usuario = Usuario(nome='João', idade=25)

#Adicionando à sessão
session.add(usuario)

#Salvando no banco
session.commit()

2025-03-12 20:16:01,410 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 20:16:01,412 INFO sqlalchemy.engine.Engine INSERT INTO usuarios (nome, idade) VALUES (?, ?)
2025-03-12 20:16:01,412 INFO sqlalchemy.engine.Engine [generated in 0.00065s] ('João', 25)
2025-03-12 20:16:01,422 INFO sqlalchemy.engine.Engine COMMIT

In [33]:
#Consultando Registros no Banco
#Vamos buscar um usuário pelo nome

#Consultando um usuário pelo nome João
usuario = session.query(Usuario).filter_by(nome='João').first()
print(usuario.id, usuario.nome, usuario.idade)

2025-03-12 20:16:03,720 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 20:16:03,721 INFO sqlalchemy.engine.Engine SELECT usuarios.id AS usuarios_id, usuarios.nome AS usuarios_nome, usuarios.idade AS usuarios_idade
FROM usuarios
WHERE usuarios.nome = ?
 LIMIT ? OFFSET ?
2025-03-12 20:16:03,723 INFO sqlalchemy.engine.Engine [generated in 0.00101s] ('João', 1, 0)
1 João 25

In [34]:
#Usando a função __repr__

print(usuario)

Usuario(id=1, nome=João, idade=25)

In [35]:
# Atualizando Registros no Banco

#Alterando a idade do usuário João
usuario.idade = 50

#Salvando a alteração no banco
session.commit()

#Deletando Registros no Banco

2025-03-12 20:16:11,422 INFO sqlalchemy.engine.Engine UPDATE usuarios SET idade=? WHERE usuarios.id = ?
2025-03-12 20:16:11,423 INFO sqlalchemy.engine.Engine [generated in 0.00129s] (50, 1)
2025-03-12 20:16:11,434 INFO sqlalchemy.engine.Engine COMMIT

In [36]:
usuario # Usuário João

2025-03-12 20:16:13,672 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 20:16:13,673 INFO sqlalchemy.engine.Engine SELECT usuarios.id AS usuarios_id, usuarios.nome AS usuarios_nome, usuarios.idade AS usuarios_idade
FROM usuarios
WHERE usuarios.id = ?
2025-03-12 20:16:13,675 INFO sqlalchemy.engine.Engine [generated in 0.00102s] (1,)

Usuario(id=1, nome=João, idade=50)

In [37]:
#Removendo um Registro do Banco

session.delete(usuario)

#Salvando a alteração no banco
session.commit()

2025-03-12 20:16:16,662 INFO sqlalchemy.engine.Engine DELETE FROM usuarios WHERE usuarios.id = ?
2025-03-12 20:16:16,663 INFO sqlalchemy.engine.Engine [generated in 0.00210s] (1,)
2025-03-12 20:16:16,677 INFO sqlalchemy.engine.Engine COMMIT

In [38]:
#Confirmar a remoção

#Consultando o usuário João
usuario = session.query(Usuario).filter_by(nome='João').first()
print(usuario)

2025-03-12 20:16:20,078 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 20:16:20,079 INFO sqlalchemy.engine.Engine SELECT usuarios.id AS usuarios_id, usuarios.nome AS usuarios_nome, usuarios.idade AS usuarios_idade
FROM usuarios
WHERE usuarios.nome = ?
 LIMIT ? OFFSET ?
2025-03-12 20:16:20,080 INFO sqlalchemy.engine.Engine [cached since 16.36s ago] ('João', 1, 0)
None

In [44]:
# tem como fazer um select * from usuarios

#Consultando todos os usuários

usuarios = session.query(Usuario).all()

2025-03-12 20:19:55,356 INFO sqlalchemy.engine.Engine SELECT usuarios.id AS usuarios_id, usuarios.nome AS usuarios_nome, usuarios.idade AS usuarios_idade
FROM usuarios
2025-03-12 20:19:55,357 INFO sqlalchemy.engine.Engine [cached since 165.8s ago] ()

In [6]:
#Vamos inserir 5 usuários no banco de dados

#Criando 5 usuários

usuarios = [
    Usuario(nome='Maria', idade=30),
    Usuario(nome='José', idade=40),
    Usuario(nome='Ana', idade=35),
    Usuario(nome='Pedro', idade=22),
    Usuario(nome='Paula', idade=28)
]

#Adicionando os usuários à sessão

session.add_all(usuarios)

#Salvando no banco

session.commit()

#Consultando todos os usuários

usuarios = session.query(Usuario).all()

for usuario in usuarios:
    print(usuario)

2025-03-12 20:24:33,719 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 20:24:33,727 INFO sqlalchemy.engine.Engine INSERT INTO usuarios (nome, idade) VALUES (?, ?) RETURNING id
2025-03-12 20:24:33,728 INFO sqlalchemy.engine.Engine [generated in 0.00021s (insertmanyvalues) 1/5 (ordered; batch not supported)] ('Maria', 30)
2025-03-12 20:24:33,732 INFO sqlalchemy.engine.Engine INSERT INTO usuarios (nome, idade) VALUES (?, ?) RETURNING id
2025-03-12 20:24:33,736 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/5 (ordered; batch not supported)] ('José', 40)
2025-03-12 20:24:33,738 INFO sqlalchemy.engine.Engine INSERT INTO usuarios (nome, idade) VALUES (?, ?) RETURNING id
2025-03-12 20:24:33,741 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/5 (ordered; batch not supported)] ('Ana', 35)
2025-03-12 20:24:33,743 INFO sqlalchemy.engine.Engine INSERT INTO usuarios (nome, idade) VALUES (?, ?) RETURNING id
2025-03-12 20:24:33,743 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/5 (ordered; batch not supported)] ('Pedro', 22)
2025-03-12 20:24:33,744 INFO sqlalchemy.engine.Engine INSERT INTO usuarios (nome, idade) VALUES (?, ?) RETURNING id
2025-03-12 20:24:33,745 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/5 (ordered; batch not supported)] ('Paula', 28)
2025-03-12 20:24:33,746 INFO sqlalchemy.engine.Engine COMMIT
2025-03-12 20:24:33,756 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 20:24:33,759 INFO sqlalchemy.engine.Engine SELECT usuarios.id AS usuarios_id, usuarios.nome AS usuarios_nome, usuarios.idade AS usuarios_idade
FROM usuarios
2025-03-12 20:24:33,760 INFO sqlalchemy.engine.Engine [generated in 0.00124s] ()
Usuario(id=1, nome=Maria, idade=30)
Usuario(id=2, nome=José, idade=40)
Usuario(id=3, nome=Ana, idade=35)
Usuario(id=4, nome=Pedro, idade=22)
Usuario(id=5, nome=Paula, idade=28)

In [8]:
#Consultando todos os usuários

usuarios = session.query(Usuario).all()
for usuario in usuarios:
    print(usuario)

2025-03-12 20:24:45,705 INFO sqlalchemy.engine.Engine SELECT usuarios.id AS usuarios_id, usuarios.nome AS usuarios_nome, usuarios.idade AS usuarios_idade
FROM usuarios
2025-03-12 20:24:45,707 INFO sqlalchemy.engine.Engine [cached since 11.95s ago] ()
Usuario(id=1, nome=Maria, idade=30)
Usuario(id=2, nome=José, idade=40)
Usuario(id=3, nome=Ana, idade=35)
Usuario(id=4, nome=Pedro, idade=22)
Usuario(id=5, nome=Paula, idade=28)