In [2]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker, declarative_base
from sqlalchemy import Column, Integer, String, Float

In [3]:
#Criando a conexão com o banco de dados

engine = create_engine('sqlite:///superstore.db')

Base = declarative_base()

#Criando uma classe que representa a tabela "pedidos"

class Pedidos(Base):
    __tablename__ = 'pedidos'
    id = Column(Integer, primary_key=True, autoincrement=True)
    nome_cliente = Column(String)
    cidade = Column(String)
    categoria = Column(String)
    quantidade = Column(Integer)
    vendas = Column(Float)

#Criando a tabela no banco de dados

Base.metadata.create_all(engine)

#Criando uma sessão para inserir dados na tabela

Session = sessionmaker(bind=engine)

session = Session()

#Inserindo dados na tabela

pedido1 = Pedidos(nome_cliente='João', cidade='São Paulo', categoria='Tecnologia', quantidade=2, vendas=1000.00)
pedido2 = Pedidos(nome_cliente='Maria', cidade='Rio de Janeiro', categoria='Livros', quantidade=3, vendas=200.00)
pedido3 = Pedidos(nome_cliente='José', cidade='Curitiba', categoria='Decoração', quantidade=1, vendas=500.00)

session.add(pedido1)
session.add(pedido2)
session.add(pedido3)

In [5]:
#Filtrar pedidos com vendas maiores ou iguias a 500.00

pedidos = session.query(Pedidos).filter(Pedidos.vendas >= 500.00)
for pedido in pedidos:
    print(pedido.nome_cliente, pedido.vendas)

João 1000.0
José 500.0

In [ ]:
#Buscar um pedido e atualizar a quantidade

pedido = session.query(Pedidos).filter(Pedidos.nome_cliente == 'João').first()
pedido.quantidade = 3

session.commit()

In [7]:
#Consultar todos os pedidos

pedidos = session.query(Pedidos).all()
for pedido in pedidos:
    print(pedido.nome_cliente, pedido.quantidade)

João 3
Maria 3
José 1

In [8]:
#Buscar e excluir um pedido

pedido = session.query(Pedidos).filter(Pedidos.nome_cliente == 'Maria').first()
session.delete(pedido)

session.commit()

In [10]:
#Consultar todos os pedidos

pedidos = session.query(Pedidos).all()
for pedido in pedidos:
    print(pedido.nome_cliente, pedido.quantidade)

João 3
José 1

In [13]:
#Abrir a tabela no pandas (ORM)

import pandas as pd

#Buscando todos os registro da tabela pedidos
pedidos = session.query(Pedidos).all()

#Convertendo para um DataFrame Pandas
df = pd.DataFrame([pedido.__dict__ for pedido in pedidos])

#Removendo a coluna _sa_instance_state (gerada pelo SQLAlchemy)
df.drop(columns=['_sa_instance_state'], inplace=True, errors='ignore')

#Exibindo o DataFrame
print(df)

  nome_cliente  id  vendas     cidade  quantidade   categoria
0         João   1  1000.0  São Paulo           3  Tecnologia
1         José   3   500.0   Curitiba           1   Decoração

In [15]:
#Abrir a tabela no pandas (mais eficiente)

import pandas as pd
from sqlalchemy import create_engine

#Criando conexão com o banco de dados
engine = create_engine('sqlite:///superstore.db')

#Lendo a tabela pedidos e carregando em um DataFrame
df = pd.read_sql("SELECT * FROM pedidos", con=engine)

#Exibindo o DataFrame
print(df)

   id nome_cliente     cidade   categoria  quantidade  vendas
0   1         João  São Paulo  Tecnologia           3  1000.0
1   3         José   Curitiba   Decoração           1   500.0